<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Floors</title>
    <link rel="icon" href="<%= require('../assets/favicon.png') %>" type="image/png">
</head>
<body>

<div class="page">
    <div class="page__header">
        <div class="inline-navigation">
            <div class="inline-navigation__item">
                <h1>Floors Picker</h1>
            </div>
            <div class="inline-navigation__item">
                <a href="./ui.html" class="link">
                    UI Kit
                    <i class="far fa-arrow-alt-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="page__content">
        <div class="modal">
            <div class="modal__header">
                <div class="modal-header">
                    <div class="modal-header__title">
                        Меню выбора блоков
                    </div>
                    <div class="modal-header__action">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="modal__body">
                <div class="modal__aside">
                    <div class="menu">
                        <div class="menu__item menu-item is-active">
                            <div class="menu-item__title">Все блоки (47)</div>
                        </div>
                        <div class="menu__item menu-item">
                            <div class="menu-item__title">Контентные (16)</div>
                        </div>
                        <div class="menu__item menu-item">
                            <div class="menu-item__title">Разводящие (8)</div>
                        </div>
                        <div class="menu__item menu-item">
                            <div class="menu-item__title">Специализированные (9)</div>
                        </div>
                        <div class="menu__item menu-item">
                            <div class="menu-item__title">Шаблонные (3)</div>
                        </div>
                        <div class="menu__item menu-item">
                            <div class="menu-item__title">Формы (4)</div>
                        </div>
                        <div class="menu__item menu-item">
                            <div class="menu-item__title">Технические (7)</div>
                        </div>
                    </div>
                </div>
                <div class="modal__content">
                    <div class="modal__search">
                        <div class="input">
                            <div class="input__icon">
                                <i class="fas fa-search"></i>
                            </div>
                            <input class="input__control" type="search" placeholder="Поиск...">
                        </div>
                    </div>
                    <div class="modal__preview">
                        <div class="grid">
                            <div class="grid__item">
                                <div class="card">
                                    <div class="card__header">Горизонтальный текстово-графический блок</div>
                                    <div class="card__body">
                                        <img class="card__image" src="<%= require('../assets/images/floor.jpg') %>" alt="image">
                                    </div>
                                    <div class="card__overlay">
                                        <button class="button primary">Просмотр</button>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__item">
                                <div class="card">
                                    <div class="card__header">Вертикальный текстово-графический блок</div>
                                    <div class="card__body">
                                        <img class="card__image" src="<%= require('../assets/images/floor.jpg') %>" alt="image">
                                    </div>
                                    <div class="card__overlay">
                                        <button class="button primary">Просмотр</button>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__item">
                                <div class="card">
                                    <div class="card__header">Контакты</div>
                                    <div class="card__body">
                                        <img class="card__image" src="<%= require('../assets/images/floor.jpg') %>" alt="image">
                                    </div>
                                    <div class="card__overlay">
                                        <button class="button primary">Просмотр</button>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__item">
                                <div class="card">
                                    <div class="card__header">Комплектации и цены</div>
                                    <div class="card__body">
                                        <img class="card__image" src="<%= require('../assets/images/floor.jpg') %>" alt="image">
                                    </div>
                                    <div class="card__overlay">
                                        <button class="button primary">Просмотр</button>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__item">
                                <div class="card">
                                    <div class="card__header">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Ad asperiores cupiditate delectus, dolorum ea earum enim mollitia nam optio
                                        perferendis quasi repellendus rerum, similique sint sit sunt unde. Cum, ut.</div>
                                    <div class="card__body">
                                        <img class="card__image" src="<%= require('../assets/images/floor.jpg') %>" alt="image">
                                    </div>
                                    <div class="card__overlay">
                                        <button class="button primary">Просмотр</button>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__item">
                                <div class="card">
                                    <div class="card__header">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Ad asperiores cupiditate delectus</div>
                                    <div class="card__body">
                                        <img class="card__image" src="<%= require('../assets/images/floor.jpg') %>" alt="image">
                                    </div>
                                    <div class="card__overlay">
                                        <button class="button primary">Просмотр</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

</body>
</html>





