$black: #000000;
$overlay: rgba(0,0,0,0.6);
$activeMenuItem: #E3F2FD;
$boxShadow: #E5E5E5;
$inputGrey: #858585;
$borderGrey: #CDCDCD;
$backgroundGrey: #f5f5f5;
$white: #ffffff;
$primaryAlpha02: rgba(25,118,210,0.2);
$primaryHover: #15589f;
$primary: #1976d2;